{% import globals.paths.macros as ui %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/site.css">
  <title>Test</title>
</head>
<body>
  {{
    ui.render({
      name: 'header',
      fields: {
        text: "I am skjksjsk  slkslkstext that was neatly passed into the header component"
      }
    })
  }}
  {{ content | safe }}
</body>
</html>
